<a href="https://colab.research.google.com/github/subhj/Twitter-Data-Analysis-System/blob/main/twitter_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Twitter Data Analysis System

This notebook demonstrates how to ingest tweet data, perform SQL queries, and analyze the results using a Google Colab environment. The data is loaded into a SQL database, and various queries are executed to extract meaningful insights.

---

## Step 1: Install Required Libraries

Before we start, we need to install the required Python libraries. We will use `SQLAlchemy` for database connections, `pandas` for data manipulation, and `pymysql` for MySQL integration.

```python
!pip install sqlalchemy pymysql pandas

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Replace with your MySQL database credentials
db_user = 'your_username'       # Your MySQL username
db_password = 'your_password'    # Your MySQL password
db_host = 'localhost'            # Database host
db_name = 'twitter_data'         # Name of the database

# Create a connection string
connection_string = f'mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}'
engine = create_engine(connection_string)

In [ ]:
# Load the TSV file into a DataFrame
df = pd.read_csv('path_to_file.tsv', sep='\t')

# Write the DataFrame to the SQL database
df.to_sql('tweets', con=engine, if_exists='replace', index=False)

 Query 1: How many tweets were posted containing the term on each day?

In [ ]:
query = "SELECT DATE(timestamp) as date, COUNT(*) as tweet_count FROM tweets WHERE text LIKE '%music%' GROUP BY date"
daily_tweets = pd.read_sql(query, con=engine)
print(daily_tweets)

Query 2: How many unique users posted a tweet containing the term?

In [ ]:
query = "SELECT COUNT(DISTINCT user_id) as unique_users FROM tweets WHERE text LIKE '%music%'"
unique_users = pd.read_sql(query, con=engine)
print(unique_users)

Query 3: How many likes did tweets containing the term get, on average?

In [ ]:
query = "SELECT AVG(likes) as average_likes FROM tweets WHERE text LIKE '%music%'"
average_likes = pd.read_sql(query, con=engine)
print(average_likes)

Query 4: Where (in terms of place IDs) did the tweets come from?

In [ ]:
query = "SELECT place_id, COUNT(*) as tweet_count FROM tweets WHERE text LIKE '%music%' GROUP BY place_id"
place_distribution = pd.read_sql(query, con=engine)
print(place_distribution)

Query 5:What times of day were the tweets posted at?

In [ ]:
query = "SELECT strftime('%H', timestamp) as hour, COUNT(*) as tweet_count FROM tweets WHERE text LIKE '%music%' GROUP BY hour"
time_distribution = pd.read_sql(query, con=engine)
print(time_distribution)

Query 6:Which user posted the most tweets containing the term?

In [ ]:
query = "SELECT user_id, COUNT(*) as tweet_count FROM tweets WHERE text LIKE '%music%' GROUP BY user_id ORDER BY tweet_count DESC LIMIT 1"
top_user = pd.read_sql(query, con=engine)
print(top_user)